<article class="col-xs-12 col-md-9 logo">
	{% if labels is defined and labels|length > 0 %}
	<ol class="breadcrumb">
		{% for item in labels %}
  			<li {% if class is defined %} class="{{ item.class }}" {% endif%}>
  				{% if item.href is defined %}
  					<a href="{{ item.href }}">{{ item.name }}</a>
  				{% else %}
  				    {{ item.name }}
  				{% endif %}
  			</li>
 		{% endfor %}
	</ol>
	{% endif %}
	 <table class="table table-bordered">
      <thead>
        <tr>
        {% for header in table.headers  %}
          <th {% if header.span is defined %} colspan={{header.span}} {% endif %}>{{ header.name }}
          	<span class="order {% if header.class is defined %} {{ header.class }} {% endif %}">
          {% if header.isDropUp is defined and header.isDropUp == false %}
               <span class="caret" style="margin: 5px;"></span>
          {% endif %}
          </span></th>
        {% endfor %}
        </tr>
      </thead>
      <tbody>
      	{% for row in table.rows %}
        <tr>
        {% for data in row %}
        	{% if data.isHeader is defined and data.isHeader == true %}
          		<th scope="row">
          			{% if data.href is defined %}
          				<a href = "{{ data.href }}"{% if data.class is defined %} class="{{ data.class }}" {% endif %}>
          				    {{ data.name }}
          				</a>
          			{% else %}
          				{{ data.name }}
          			{% endif %}
          		</th>
          	{% else %}
				<td>
				{% if data.href is defined %}
          			<a href = "{{ data.href }}" {% if data.class is defined %} class="{{ data.class }}" {% endif %} 
          			{% if data.id is defined %} class="{{ data.id}}" {% endif %} >{{ data.name }}</a>
          		{% else %}
          		    {{ data.name }}
          		{% endif %}
          		</td>
            {% endif %}
        {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
<article>